select.lightrose {background-color:#EED2D2;}
.text-menu {
	FONT-SIZE: 12px
}
.text-small {
	FONT-SIZE: 12px
}
.text-smalltitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #bfbfbf
}
TD.txtb {
	FONT-SIZE: 14px
}
A.credits {
	FONT-SIZE: 11px; COLOR: #bfbfbf
}
OPTION.prompt {
	BACKGROUND-COLOR: #ffff00
}
OPTION.list {
	BACKGROUND-COLOR: #f9f9f9
}
INPUT {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}

.border-tr {
	BORDER-RIGHT: #91B4DD 1px solid; BORDER-TOP: #91B4DD 1px solid;
	font-family:verdana;
	font-size:10px;
}

.border-t {
	BORDER-top: #91B4DD 1px solid; 
	font-family:verdana;
	font-size:10px;
	background: #F0F0F0;
}

.border-r {
	BORDER-RIGHT: #91B4DD 1px solid; 
}

.border-ltr {
	BORDER-RIGHT: #91B4DD 1px solid; BORDER-TOP: #91B4DD 1px solid; BORDER-LEFT: #91B4DD 1px solid;
}

.border-b {
	BORDER-BOTTOM: #91B4DD 1px solid;
}

.border-br {
	BORDER-BOTTOM: #91B4DD 1px solid;
	BORDER-RIGHT: #91B4DD 1px solid; 
}


td.caption {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	background-color: #DDDDDD ;
	height: 25px;
}

td.content {
	font-family: arial;
	font-size:  12px;
	font-weight: bold;
	background-color: #EEEEEE ;
	color: #000000;
	height: 16px;
}

td.ncontent {
	font-family: arial;
	font-size:  12px;
	background-color: #EEEEEE ;
	color: #000000;
	height: 16px;
}

.contentcolor{
	background-color: #EEEEEE ;
}

.captioncolor{
	background-color: #DDDDDD ;
}

.bordertable{
	border: #91B4DD 1px solid;
}

.box_title {
	font-family: arial;
	font-weight: bold;
	font-size: 12px;
	color: #6F9CD0;
}

td.box_content {
	font-family: verdana;
	font-weight: normal;
	font-size: 10px;
	color: #000000;
	text-align:justify;
}

select,.text{
	font-family: verdana;
	font-weight: normal;
	font-size: 10px;
}

.login_input {
	font-family: arial;
	font-weight: normal;
	font-size: 10px;
	border: 1px solid black;
	height: 15px;
	width: 120px;
}

a.module_menu {
	font-family: arial;
	font-weight: bold;
	font-size: 11px;
	color: #6191C8;
	text-decoration: none;
}

a.module_menu:HOVER {
	font-family: arial;
	font-weight: bold;
	font-size: 11px;
	color: #6191C8;
	text-decoration: underline;
}

td.module_menu {
	font-family: arial;
	font-weight: bold;
	font-size: 11px;
	color: #6191C8;
	text-decoration: none;
}

textarea {
	border: 1px solid bbbbbb;
}

td.caption {
	background-color: #DFDFDF;
	BORDER-top: #91B4DD 1px solid;  
	font-family:verdana;
	font-size:10px;
}

a {
	color : #6F99B4;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:active {
	color: #6F99B4;
	text-decoration: underline;
}

a:hover {
	color: #6F99B4;
	text-decoration: underline;
}

a.menu {
	color : #D5DBDB;
}

a.menu:link {
	text-decoration: none;
}

a.menu:visited {
	text-decoration: none;
}

a.menu:active {
	color: #D5DBDB;
	text-decoration: underline;
}

a.menu:hover {
	color: #D5DBDB;
	text-decoration: underline;
}



.navbar {
	background-color: #EFEFEF;
}

.sub {
	font-family: arial;
	font-size: 9pt;
	font-weight: bold;
	color: #888888;
	background-color: #E0E0E0;
}

.title {
	font-family: arial;
	font-size: 15pt;
	font-weight: bold;
	color: #888888;
	border: #888888;
	border-style: dashed;
	border-width: 0px 0px 1px 0px;
}

td {
	FONT-SIZE: 11px;
	font-family:verdana;
}
