<!DOCTYPE html>
<html lang="en">
<head>
    <title>Responsiva</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>




<body>

<!-- Div Wrapper Element Starts Here -->
<div id="Wrapper">
    <!-- Header Element Starts Here -->
        <header id="header">
        <!-- Hgroup Element Starts Here -->
            <hgroup id="title">
                <div id="logo"></div>
                <h2>
                    A <small>Responsive</small> web template!
                </h2>
            </hgroup>
        <!-- Hgroup Element Ends Here -->

        <!-- Nav Element Starts Here -->
            <nav class="navigation"> <a href="#">Home</a> <a href="#">Tutorials</a> <a href="#">Inspiration</a> <a href="#">Freebies</a> <a href="#">RSS Feed of all articles</a> <a href="#">JOIN US on TWITTER</a> <a href="#">JOIN US on FACEBOOK</a> <a href="#">Contact Us</a>
            </nav>
        </header>
    <!-- Header Element Ends Here -->

        <!-- Div wrapper2 starts here -->
        <div id="Wrapper2">
            <!-- Sidebar Element Starts Here -->
            <aside id="sidebar-wrapper">
                <nav class="sidebar">
                    <h1>We are Social !</h1>
                    <ul>
                        <li><a href="#">Facebook</a>
                        <li><a href="#">Twitter</a>
                    </ul>
                </nav>
                <nav class="sidebar">
                    <h1>Recent Posts</h1>
                    <ul>
                        <li><a href="#">How to make website Readable [Tips]</a></li>
                        <li><a href="#">Gliding Divs Using jParallax Plugin [Tutorial]</a></li>
                        <li><a href="#">Comparing HTML5 Mobile Web Framework</a></li>
                        <li><a href="#">Free Logo PSD Templates [Freebies]</a></li>
                        <li><a href="#">Stunning Modal Web PopUp [Freebies]</a></li>
                    </ul>
                </nav>
                <!-- Sidebar Element Ends Here -->
            </aside>
        <!-- Another Sidebar Element Ends Here -->
        <!-- Article Element Starts Here -->
        <article id="contents">
        <!-- Article's Header Element Starts Here -->
        <header>
        <h1><a href="#">How to make your website Readable [Tips]</a></h1>
        </header>
        <!-- Article's Header Element Ends Here -->
        <img src="images/featured_Image.jpg" alt="">
        <p>An important aspect of font selection while designing a website, for one reason or another, I didn’t take in consideration is the readability of the “fonts”: “now” that you have the possibility to choose the font you want for your website, you have to be careful not to base the choice only on the aesthetic ( excited for the new CSS3), since the ability to set a certain font doesn’t necessarily mean that it’s the right choice, simply because some fonts are more readable than others [...]<br>
        <br>
        <a href="#">Read more</a>]</p>
        <!-- Article's Header Element Starts Here -->
        <header>
            <h1><a href="#">Gliding Divs Using jParallax Plugin [Tutorial]</a></h1>
        </header>
        <!-- Article's Header Element Ends Here -->
        <img src="images/glding_divs.jpg"  alt="">
            <p>jParallax turns a selected element into a ‘window’, or viewport, and all its children into absolutely positioned layers that can be seen through the viewport. These layers move in response to the mouse, and, depending on their dimensions (and options for layer initialisation), they move by different amounts, in a parallaxy kind of way [...]<br>
        <br>
            <a href="#">Read more</a>]</p>
        </article>
        <!-- Article Element Ends Here -->
    </div>


</body>
<!-- Footer Element Starts Here -->
<footer id="copyrights">
    <p><small>&copy; 2012 <a href="#">Domain Name</a></small></p>
    <p><a href="#">About Us</a> - <a href="#">Advertise</a> - <a href="#">Contact Us</a></p>
    <address>
        Website Template by <a target="_blank" href="http://www.dzyngiri.com/">Dzyngiri</a>
    </address>
</footer>
<!-- Footer Element Ends Here -->
</div>
<!-- Div Wrapper Element ends Here -->
<div style="text-align:center;">
    This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a>
</div>

</html>
