<!DOCTYPE html>
<html lang="en">
<head>
    <title>Responsiva</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>




<body>

<!-- Div Wrapper Element Starts Here -->
<div id="Wrapper">
    <!-- Header Element Starts Here -->
        <header id="header">
        <!-- Hgroup Element Starts Here -->
            <hgroup id="title">
                <div id="logo"></div>
                <h2>
                    A <small>Responsive</small> web template!
                </h2>
            </hgroup>
        <!-- Hgroup Element Ends Here -->

        <!-- Nav Element Starts Here -->
            <nav class="navigation"> <a href="#">Home</a> <a href="#">Tutorials</a> <a href="#">Inspiration</a> <a href="#">Freebies</a> <a href="#">RSS Feed of all articles</a> <a href="#">JOIN US on TWITTER</a> <a href="#">JOIN US on FACEBOOK</a> <a href="#">Contact Us</a>
            </nav>
        </header>
    <!-- Header Element Ends Here -->

        <!-- Div wrapper2 starts here -->
        <div id="Wrapper2">
            <!-- Sidebar Element Starts Here -->
            <aside id="sidebar-wrapper">
                <nav class="sidebar">
                    <h1>We are Social !</h1>
                    <ul>
                        <li><a href="#">Facebook</a>
                        <li><a href="#">Twitter</a>
                    </ul>
                </nav>
                <nav class="sidebar">
                    <h1>Recent Posts</h1>
                    <ul>
                        <li><a href="#">How to make website Readable [Tips]</a></li>
                        <li><a href="#">Gliding Divs Using jParallax Plugin [Tutorial]</a></li>
                        <li><a href="#">Comparing HTML5 Mobile Web Framework</a></li>
                        <li><a href="#">Free Logo PSD Templates [Freebies]</a></li>
                        <li><a href="#">Stunning Modal Web PopUp [Freebies]</a></li>
                    </ul>
                </nav>
                <!-- Sidebar Element Ends Here -->
            </aside>
        <!-- Another Sidebar Element Ends Here -->
        <!-- Article Element Starts Here -->
        <article id="contents">
            <form method=post action="index.php" onsubmit="" name=login>
            <table cellpadding="0" cellspacing="0" style="width:540;">
                        <tr>
                            <br><br>
                                    <td class="box_title">Login</td>
                                </tr>
                                <tr>
                                    <td class="box_content" style="padding-left:20px;">
                                        Enter the username and password for site administrator.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                        <table>
                                            <tr>
                                                <td class="box_content">USERNAME:</td>
                                                <td class="box_content">
                                                    <input type="text" class="login_input" name="user" /></td>
                                                <td>
                                                    <img width=20 height=1 src="images/dot.gif"></td>
                                                <td class="box_content">
                                                    <a href="javascript:document.forms[0].submit();" onclick="">
                                                        <img src="images/buttons/button_login.gif" border="0" >
                                                    </a>
                                                    <!--<script> draw_button("login","javascript:document.forms[0].submit();","");</script>-->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="box_content">PASSWORD:</td>
                                                <td class="box_content"><input class="login_input" type="password" name="pass"></td>
                                                <td><img width=20 height=1 src="images/dot.gif"></td>
                                                <td class="box_content">
                                                    <a href="javascript:document.forms[0].reset();">
                                                        <img src="images/buttons/button_cancel.gif" border="0" >
                                                    </a>
                                                    <input type="hidden" value="go" name="login" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!-- LOGIN FORM -->

                        </form>
                    </td>
                    <td style="width:1; background-color:#9DBEE6;">
                        <img src="images/dot.gif">
                    </td>
                </tr>
                <tr>
                    <td style ="height:1;width:1;background-color:#9DBEE6;">
                        <img src="images/dot.gif">
                    </td>
                    <td colspan=2 style="height:1; background-color:#9DBEE6;" >
                        <img src="images/dot.gif">
                    </td>
                </tr>
            </table>
        </article>
        <!-- Article Element Ends Here -->
    </div>


</body>
<!-- Footer Element Starts Here -->
<footer id="copyrights">
    <p><small>&copy; 2012 <a href="#">Domain Name</a></small></p>
    <p><a href="#">About Us</a> - <a href="#">Advertise</a> - <a href="#">Contact Us</a></p>
    <address>
        Website Template by <a target="_blank" href="http://www.dzyngiri.com/">Dzyngiri</a>
    </address>
</footer>
<!-- Footer Element Ends Here -->
</div>
<!-- Div Wrapper Element ends Here -->
<div style="text-align:center;">
    This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a>
</div>

</html>
